.right {
   margin-left : 2em;
    position: absolute;
    right: 5%;
    width: 40%;
/*    clear: both; */
}

.left{
   margin-left : 2em;
    width: 40%;
    text-indent : 50%;
/*    clear: both;*/
}


.minheight {
    min-height: 700px;
}