

div{
   margin-left : 5%;
    width: 40%;
    float: left;
    clear: left;
}

div.right {
    margin-right : 5%;
    float: right;
    width: 40%;
    /*margin-left: 55%;*/
    clear: right; 
}


/*.minheight {
    min-height: 700px;
}*/